@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #bf6a72;
  --primary-light: #d8969c;
  --primary-dark: #8c4046;
  --accent: #f8f1f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}